.aboutMe_text {
    color: darkslategray;
    font: smaller;
    text-indent: 50px;
    text-align: justify;
    line-height: 22px !important;
    white-space: pre-line !important;
}

.timeline_title {
        font-size: 16px !important;
        font-weight: 600 !important;
        color: #000 !important;
}

.timeline_date {
    color: darkslategray;
}

.timeline_desc {
    font-size: smaller !important;
    color: gray !important;
    margin-top: 6px !important;

}
.listItem {
    background-color: '#f0f0f0';
    border: '1px solid #ddd';
    margin: '4px';
    border-radius: '4px';
}



